[flake8]
max-line-length = 100
ignore =
    E306, # E306 expected 1 blank line before a nested definition
    E265, # E265 block comment should start with '# '
    W503, # W503 line break before binary operator

